header {
  color: rgba(255, 255, 255, 0.87);
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 53, 53);
  box-shadow: 0 4px 6px rgba(255, 53, 53, 0.4);
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navbar a:hover {
  background-color: azure;
  color: rgb(255, 53, 53);
  transition: all 0.5s;
}

#search-icon {
  filter: invert(100%);
}

li {
  align-items: stretch;
  display: flex;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  flex-grow: 1;
  display: flex;
  padding: 0 10px;
  cursor: pointer;
  height: 100%;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

#search-link{
  gap: 5px;
}

#home {
  width: 80px;
  color: rgb(255, 53, 53);
  background-color: rgba(255, 255, 255, 0.87);
  display: flex;
  justify-content: center;
}

#home:hover {
  background-color: rgb(255, 53, 53);
  color: rgba(255, 255, 255, 0.87);
  transition: all 0.5s;
}