footer {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(255, 53, 53);
  min-height: 8vh;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

footer p{
  font-size: 15px;
}

.social-media{
  display: flex;
  gap: 10px;
}