footer {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(255, 53, 53);
  min-height: 8vh;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

footer p{
  font-size: 15px;
}

.social-media{
  display: flex;
  gap: 10px;
}

.social-media a {
  padding: 0;
}

.social-media a:hover {
  transform: scale(1.2);
  transition: all 0.15s;
}


@media screen and (max-width: 768px) {
  footer {
    padding: 0 15px;
  }

  footer p {
    font-size: 11px;
  }
}