.meals-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px;   
}

#youtube-link {
  flex-grow: 1;
  display: flex;
  padding: 0 10px;
  cursor: pointer;
  height: 100%;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.meal {
  background-color: white;
  margin-bottom: 30px;
  max-width: 22.5vw;
  height: 40vh;
  flex-basis: calc(27%);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.meal:hover {
  transform: scale(1.035);
  transition: all 0.15s;
}

.meal-image {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
  height: 55%;
}

.meal-image a {
  padding: 0;
}

.meal-image img {
  width: 100%;
  height: auto;
}

.meal-content {
  padding: 0px 10px;
  height: 45%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.meal-content h4,
.meal-content p {
  margin: 10px 0 10px 0;
  padding: 0 10px;
}

.meal-content h4 {
  height: 22%;
}