#letters{
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
}

#letters label {
  color: rgb(255, 109, 109);
  text-decoration: underline;
}

#letters label:hover {
  cursor: pointer;
  transform: scale(1.35);
  transition: all 0.25s;
}